@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');

html, body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #101010;
}
a{text-decoration: none; color: #fff;}

/* header */
header{
    display: flex; justify-content: space-between;
    padding: 2.5rem 5%;
}
.header_logo{
    font-family: "Libre Barcode 128 Text", system-ui;
    font-size: 40px;
    text-shadow: 0px 0px 21.9px rgba(255, 255, 255, 0.411);
    transition: 0.4s;
}
.header_logo:hover{text-shadow: 0px 0px 21.9px rgba(255, 255, 255, 0.685);}
header span{color: rgb(121, 143, 222);}
.navbar a{color: #B3B3B3;}
header .navbar a{
    font-size: 18px;
    margin-left: 2rem;
    transition: 0.4s;
}
header .navbar a:hover{color:#e6e6e6}
.navbar .order{
    color: #DFDFDF;
    padding: 1rem 2.5rem;
    background: linear-gradient(135.00deg, rgb(86, 117, 231) 0%,rgb(115, 140, 224) 100%);
    box-shadow: 0px 0px 41.3px 0px rgba(115, 139, 224, 0.46);
    border-radius: 12px;
    transition: 0.4s;
}
.navbar .order:hover{
    box-shadow: 0px 0px 41px 0px rgba(115, 138, 224, 0.616);
    border-radius: 18px;
}

/* burger_menu */
.burger{
    display: none;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    z-index: 50;
    width: 30px;
    height: 18px;
    cursor: pointer;
}
.burger span{
    height: 2px;
    width: 80%;
    background-color: #DFDFDF;
    transform: scale(1);
}
.burger:before, .burger:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #DFDFDF;
    transition: all 0.3s ease 0s;
}
.burger:before{top:0}
.burger:after{bottom:0}
.burger.active span{transform: scale(0);}
.burger.active:before{
    top:50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.burger.active:after{
    bottom:50%;
    transform: rotate(45deg) translate(0, 50%);
}
.open{display: flex !important;}

/* header_page */
.home{
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 5%;
    display: flex; justify-content: space-between;
    align-items: center;
}
.home_content h1{
    margin: 0;
    font-size: 7.5rem;
    text-align: center;
}
.home_content p{
    margin: 0 0 60px;
    text-align: center;
    font-size: 30px;
    color: #868686;
    letter-spacing: .4rem;
}
.coffe{
    text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.589);
    background: linear-gradient(45deg, #d6d6d6 33%, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.design{
    text-shadow: 0px 0px 50px rgba(86, 117, 231, 0.589);
    background: linear-gradient(45deg, #5575E7 33%, #90A9FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home_buttons{text-align: center;}
.home_order{
    display: inline-block;
    margin-right: 20px;
    padding: 1rem 4rem;
    background: linear-gradient(45deg, #5575E7 33%, #90A9FF);
    box-shadow: 0px 0px 41px 0px rgba(115, 139, 224, 0.46);
    border-radius: 50px;
    font-size: 20px;
    transition: 0.4s ease-in-out;
}
.home_order:hover{
    background: linear-gradient(45deg, #6281f0 33%, #96aeff);
    box-shadow: 0px 0px 50px 0px rgba(115, 138, 224, 0.637);
}
.home_portfolio{
    display: inline-block;
    padding: 1rem 4rem;
    background: linear-gradient(45deg, #d6d6d6 33%, #FFFFFF);
    box-shadow: 0px 0px 34px 0px rgba(255, 255, 255, 0.288);
    border-radius: 50px;
    color: #3E3E3E;
    font-size: 20px;
    transition: 0.4s ease-in-out;
}
.home_portfolio:hover{
    background: linear-gradient(45deg, #ffffff 33%, #FFFFFF);
    box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.404);
}
.short_info_board{
    margin: 40px auto 0;
    display: flex; justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    width: 60%; height: 110px;
    background: linear-gradient(45deg, #313131, #1a1a1a);
    border: solid #e1e1e12c 0.025px;
    border-radius: 25px;
    text-align: center;
}
.kolvo{font-size: 40px; color: #E1E1E1;}
.work_experience .years{font-size: 40px; color: #738BE0;}
.short_info_board_text{padding: 5px 0 0 0; color: #818181;}
.home .home_img img{width: 550px;}
.home_content{position: relative; z-index: 1;}
.white_sphere{
    position: absolute;
    z-index: -1;
    bottom: 30%;
    right: 100%;
    width: 50%;
    height: 90%;
    filter: blur(50px);
    background: radial-gradient(at center, #ffffff5b, #9198e500);
}

/* about_me_page */
.about_me_page{
    margin: 0 auto;
    max-width: 1920px;
    align-items: center;
    margin-top: 100px;
    padding: 0 12%;
    display: flex;
    justify-content: space-between;
}
.about_me_page .works_img img{width: 650px; transition: 0.8s;}
.about_me_page .works_img img:hover{
    transform: scale(1.03);
}
.about_me_block{margin-bottom: 120px;}
.about_me_block .about_me_button{
    padding: 1rem 3rem;
    background: linear-gradient(45deg, #131313 33%, #252525);
    border-radius: 30px;
    color: #8FA8FE;
    text-shadow: #839DFA 0 0 20px;
    transition: 0.4s;
}
.about_me_block .about_me_button:hover{background: linear-gradient(45deg, #161616 33%, #272727);}
.about_me_block h2{margin: 40px 0 20px 0; font-size: 5rem;}
.about_me_text{
    font-size: 17px;
    margin-bottom: 60px;
    color: #959595;
    text-shadow: #959595b2 0px 0 30px;;
}
.about_me_block .all_services_button{
    display: inline-block;
    padding: 1.3rem 4rem;
    background: linear-gradient(45deg, #5575E7 33%, #90A9FF);
    box-shadow: 0px 0px 41px 0px rgba(115, 138, 224, 0.568);
    border-radius: 18px;
    transition: 0.4s;
}
.about_me_block .all_services_button:hover{
    transform: scale(1.05);
    background: linear-gradient(45deg, #5e7ef0 33%, #97afff);
    box-shadow: 0px 0px 41px 0px rgba(115, 138, 224, 0.74);
    border-radius: 25px;
}

/* my_works_page */
.my_works_page img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    transition: 0.5s;
}
.my_works_page img:hover{transform: scale(0.995);}
.my_works_page h1{
    margin: 100px 0 40px 0;
    font-size: 4rem;
    text-align: center;
}
.my_works_page .see_more{text-align: center;}
.my_works_page .see_more a{
    font-size: 1.5rem;
    color: #5a5a5a;
    transition: 0.3s;
}
.my_works_page a:hover{color: #6e6e6e; text-shadow: 0px 0px 15px rgba(167, 167, 167, 0.137);}

/* swiper_page */
.my_services_text{
    margin: 100px 0 0 0;
    text-align: center;
    font-size: 70px;
}
.inner{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1210px;
    width: 100%;
    height: auto;
    margin: 50px auto;
    position: relative;
}
.gallary{
    display: flex;
    max-width: 1210px;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.gallary .swiper-wrapper{box-sizing: content-box;}
.foto-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    transition: 0.5s;
}
.foto-slide:hover{transform: scale(0.985);}
.foto-slide img{
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 380px;
    transition: 0.5s;
}
.foto-slide img:hover{transform: scale(0.955);}

.swiper_content{
    padding: 15px 15px 40px 15px;
    background: linear-gradient(-45deg, #0E0E0E 33%, #151515);
    border: 2px solid;
    border-image-source: linear-gradient(45deg, #5e7ef0 33%, #97afff);
    border-image-slice: 1;
}
.swiper_content_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 10px 10px;
}
.swiper_title{font-size: 22px; color: #A4A4A4; cursor: default;}
.swiper_price{
    font-size: 25px;
    text-shadow: 0px 0px 15px #97afff6c;
    background: linear-gradient(45deg, #5575E7 33%, #90A9FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.swiper_btn_content{margin-top: 30px;}
.swiper_btn{
    padding: 0.9rem 2.5rem;
    background: linear-gradient(45deg, #5e7ef0 33%, #97afff);
    box-shadow: 0px 0px 21px 0px rgba(115, 138, 224, 0.603);
    border-radius: 15px;
    transition: 0.3s;
}
.swiper_btn:hover{
    background: linear-gradient(45deg, #6b89f7 33%, #a5baff);
    box-shadow: 0px 0px 21px 0px rgba(115, 138, 224, 0.897);
    border-radius: 18px;
}
.radial_sphere_swiper{
    position: absolute;
    width: 80%;
    height: 80%;
    filter: blur(50px);
    background: radial-gradient(at center, #96aeff96, #9198e500);
    transform: rotate(187deg);
}

/* whyme_page */
.whyme_page{
    margin-top: 150px;
}
.whyme_content{
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 70px;
    padding: 0 8%;
}
.whyme_block{
    padding: 60px 0 0 0;
    position: relative;
    width: 400px;
    height: 220px;
    text-align: center;
    background: linear-gradient(180deg, #222222, #101010);
    border: 1px solid #424242;
    /* border-image-source: linear-gradient(180deg, #424242 33%, #181818);
    border-image-slice: 1; */
    border-radius: 15px;
}
.whyme_title{font-size: 35px; font-weight: bold;}
.whyme_description{
    font-size: 16px; 
    margin: 8px 5px 25px 5px;
    color: #6b6b6b;
}
.whyme_count{
    font-weight: bold;
    font-size: 55px;
    color: #ffffff2c;
    letter-spacing: 5px;
}
.whyme_block img{
    position: absolute;
    top: -57px;
    left: 150px;
}
.whyme_speed{
    font-size: 32px;
}





/* media requests */
@media (max-width: 1730px){
    .about_me_page{padding: 0 7%;}
}
@media (max-width: 1460px){
    .about_me_page{padding: 0 1%;}
}
@media (max-width: 1350px){
    .home{flex-flow: column-reverse;}
    .home .home_img img{
        width: 100%;
        height: 532px;
    }
    .home_content h1{font-size: 5rem;}

    .about_me_page{flex-flow: column; row-gap: 50px;}
    .about_me_page .works_img img{width: 100%;}

    .short_info_board{padding: 0 3%}

    .about_me_block{margin-bottom: 50px;}

    .white_sphere{height: 90%;}

    .about_me_page{padding: 0 12%;}
}
@media (max-width: 1250px){
    .inner, .gallary{max-width: 780px;}
}
@media (max-width: 950px){
    .inner, .gallary{max-width: 320px;}
    .inner{margin: 20px auto;}
}
@media (max-width: 900px){
    .burger{display: flex;}
    .navbar{
        display: none;
        flex-direction: column;
        row-gap: 20px;
        position: fixed;
        height: 100%;
        width: 50%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 100px 10px;
        background-color: #101010f5;
        animation: burgerAnimation 0.4s;
    }
    .navbar .order{
        width: 80px;
        padding: 0.5rem 2rem;
        box-shadow: 0px 0px 21px 0px rgba(115, 139, 224, 0.46);
    }
    .order:hover{box-shadow: 0px 0px 41px 0px rgba(115, 138, 224, 0.582);}
}
@keyframes burgerAnimation{
    from{opacity: 0;}
    to{opacity: 1;}
}
@media (max-width: 500px){
    .home .home_img img{height: 420px;}
    .home_content h1{font-size: 3rem;}
    .home_content p{
        font-size: 18px;
        margin: 0 0 20px;
    }
    .home_order{
        padding: 1rem 2.5rem;
        font-size: 15px;
    }
    .home_portfolio{
        padding: 1rem 2.5rem;
        font-size: 15px;
    }

    .about_me_page{padding: 0 5%;}
    .about_me_block h2{
        margin: 25px 0 20px 0;
        font-size: 3rem;
    }
    .about_me_block .about_me_button{padding: 0.8rem 2.5rem;}
    .about_me_text{font-size: 15px; margin-bottom: 45px;}
    .about_me_block .all_services_button{
        padding: 1.2rem 3.5rem;
        border-radius: 18px;
    }

    .short_info_board{width: 90%; height: 90px;}
    .kolvo{font-size: 30px;}
    .work_experience .years{font-size: 30px;}
    .short_info_board_text{font-size: 13px;}

    .about_me_block{margin-bottom: 70px;}
    .my_services_text{font-size: 45px; margin: 80px 0 0 0;}
    
    .my_works_page h1{margin: 0 0 10px 0; font-size: 2.2rem;}
    .my_works_page .see_more a{font-size: 1rem;}

    .radial_sphere_swiper{width: 100%; height: 100%;}

    .whyme_description{font-size: 14px;}
    .whyme_title{font-size: 30px;}
    .whyme_speed{font-size: 24px;}
}
@media (max-width: 480px){
    .whyme_block{width: 330px;}
    .whyme_block img{left: 120px;}
}
@media (max-width: 400px){
    .whyme_block{width: 280px;}
    .whyme_block img{left: 90px;}
}
@media (max-width: 345px){
    .radial_sphere_swiper{display: none;}
    .home_order{margin-bottom: 15px;}
}